EMAIL_SENDER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
DEFAULT_RECIPIENT=default_recipient@example.com
CC_RECIPIENTS=cc1@example.com,cc2@example.com
EXPIRY_DATE=31-03-2026
